<%= form_for @phone do |f| %>
    <p><%= f.label :name %>:
    <%= f.text_field :name %><br /></p>

    <p><%= f.label :description %>:
    <%= f.text_field :description %><br /></p>

    <p>Загрузите изображение:</p>
    <p>
    <%= f.fields_for :attachments do |a| %>:
        <%= a.label :file %>:
        <%= a.file_field :file %><br /></p>
    <%end%>

    <%= f.submit %>
<% end %>